* {
  box-sizing: border-box;
}
body {
  background-color: #0d4c92;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.back-button {
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
