* {
  box-sizing: border-box;
}

body {
  background-color: #011f4b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meter-indicator {
  width: 90vw;
  height: 15vh;
}

h1 {
  font-size: 5rem;
  color: #b3cde0;
}
#bttn  {
  width: 20vw;
  height: 10vh;
  border-radius: 10px;
  font-size: 3rem;
  background-color: #b3cde0;
}
